body {
  font-family: Arial;
}

.item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.item__code {
  margin-right: 7px;
  font-weight: bold;
}

.item__value {
  margin-right: 7px;
}

.loader {
  width: 100px;
  display: none;
}
.loader_active {
  display: block;
}
